 @import url('https://fonts.googleapis.com/css2?family=Itim&family=Oxygen:wght@300&family=Roboto+Condensed:ital,wght@0,300;0,400;1,700&family=Roboto+Flex:wght@300;400;700&display=swap');


/*font-family: 'Itim', cursive;
font-family: 'Oxygen', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Flex', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}

body {
    background-image: url(https://img.freepik.com/vector-premium/conjunto-iconos-tema-japones_17583-18.jpg);
    display: flex;
    justify-content: center;
    min-height: 100vh;        
}

.contenedor {    
    margin: auto;         
}

form {
    background-color: rgb(244, 235, 151);  
    width: 100%;
    text-align: center;
    border-radius: 5%;
    box-shadow: 0 1px 10px;
    padding: 4.5em 2.5em; 
}

h3 {
    margin-bottom: 1.5rem;
    font-size: 2em;
    font-family: 'Roboto Flex', sans-serif;
    color:rgb(250, 50, 10);
}

.checkbox {
    margin-bottom: .8rem;
    font-weight: bold;
    font-family: 'Oxygen', sans-serif;
}

.texto {    
    margin-bottom: 1.5rem;
    font-family: 'Oxygen', sans-serif;   
} 

.texto textarea {
    padding: 0.5rem;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.2rem;
    resize: none;
} 

/*darle mejor formato a enviar/limpiar*/
.datos {
    font-family: 'Oxygen', sans-serif;  
    font-weight: bold;
    position: relative;
}

.datos input{
    font-size: 1.7rem;
    margin: 1rem 1rem;
    background-color: rgb(214, 213, 213);
    border: none; 
    font-family: 'Oxygen', sans-serif;    
}

.submit {
    background-color: rgb(233, 215, 225);
    border-radius: 10%;
    box-shadow: 0 1px 10px;
    padding: .3rem;
    font-size: 1.5rem;
    margin: 1.5rem 1.5rem 0rem;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: bold;
}

.reset {
    background-color: rgb(233, 215, 225);
    border-radius: 10%;
    box-shadow: 0 1px 10px;
    padding: .3rem;
    font-size: 1.5rem;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: bold;
} 