.contenedor-loader{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:url(https://img.freepik.com/vector-premium/conjunto-iconos-tema-japones_17583-18.jpg);
}

.contenedor-loader img {
    width:60%;
    border-radius: 10%;
    border-color: solid rgb(239, 217, 33);
}

.contenedor-loader h1 {
    animation: fading entrances;
    animation-duration: 5s;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 5rem;
    color:rgb(250, 50, 10);
    background-color: rgb(241, 234, 234);
    border-radius: 15px;
    padding: 1rem;
    text-shadow: 1px 1px 2px rgb(250, 50, 10), 0 0 1em rgb(85, 84, 84), 0 0 0.2em white;
}